@model ECommerce.Models.ProductModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="container">
    <h1>@Model.Name</h1>
    <div class="row">

        <div class="col-md-6">
            <h2>@Model.Name</h2>
            <p>@Model.Description</p>
            <p><strong>Price:</strong> @Model.Price.ToString("C")</p>
            <a href="@Url.Action("Index", "Cart", new { id = Model.ProductId })" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
</div>
